.cake-image{
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.cakes-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border: 1px solid grey;
}

th {
    border: 1px solid grey;
}

td {
    border: 1px solid grey;
    padding: 10px;
    vertical-align: middle;
}

form  { display: table;     border-spacing: 13px;      }
p     { display: table-row;}
label { display: table-cell; }
input { display: table-cell; }